# Makefile.os2

# Paths

ifndef ($PREFIX)
PREFIX =	$(UNIXROOT)/usr
endif
BINDIR =	$(PREFIX)/bin
MANDIR =	$(PREFIX)/share/man
TZDIR =		$(PREFIX)/share/zoneinfo

# The Makefiles contain targets to create some distribution archives
# automatically. Here are the desired file names for that archives.
ARCHIVE_BIN_ZIP =	rdate-os2-bin.zip
ARCHIVE_UX2_ZIP =	rdate-ux2.zip
ARCHIVE_SRC_ZIP =	rdate-os2-src.zip

# Programs

SHELL =		sh.exe
AS =		gcc
CC =		gcc
LD =		gcc
AR =		ar
IPF =		ipfc
MSGFMT =	msgfmt
ZIP =		zip
WIC =		wic

DEFS =		-D__ST_MT_ERRNO__ -DNO_UTIL
INCLUDES =	-I. -I.. -I../os2
LIBDIRS =	-L../os2
LIBS =		-lsocket -los2ext

CFLAGS =	$(DEFS) $(INCLUDES) -O2 -Werror -Zmt
LDFLAGS =	$(LIBDIRS) -s -Zexe -Zmt

ARFLAGS =	crs
IPFFLAGS =	-w:3 -i
MSGFMTFLAGS =	
ZIPFLAGS =	-9
WICFLAGS =	

# Dependencies

